{% extends "XhocolatteApp/base.html" %}

{% block title %} Login {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 mt-5">
            <form method="post">
                    {% csrf_token %}{{ form | crispy }}
                    <p>¿No tienes cuenta? ¡Crea una <a href="/sign-up">Aquí</a>!</p>
                    <button type="submit" class="btn btn-success mb-5">Login</button>
            </form>
        </div>
    </div>
{% endblock %}