{% extends "../../XhocolatteApp/sub_base.html" %}
{% block title %}Reset Status{% endblock %}
{% block content %}

<div class="container" style="padding-top: 100px; padding-bottom: 500px;">
    <div>
        {% if 'email' in request.get_full_path %}
        <h3 class="mb-4">Password Reset Success</h3>
        <p>Comprueba tu e-mail para obtener instrucciones</p>
        {% endif%}
        {% if 'complete' in request.get_full_path %}
        <h3 class="mb-4">Reseteado de contraseña con éxito</h3>
        <a href="{% url "account:login" %}">Login</a>
        {% endif%}
    </div>
</div>

{% endblock %}