{% extends '../XhocolatteApp/base.html' %}
{% load static %}

{% block title %}Pago Completado{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 100px; padding-bottom: 500px;">
        <div class="">
            <h2 class="titulo-html" style="padding-top: 50px;">¡Toma! Pago Completado</h2>
          </div>
        <div class="col-12">
            <p>Resumen del Pedido</p>
        </div>
        <hr/>

        <div class="col-12">
            <p>Ver todos los <a href="{% url 'account:user_orders' %}">pedidos</a></p>
        </div>
    </div>

{% endblock %}