<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'css/xhocolatte.css' %}" rel="stylesheet">

     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Styles -->
    <link href="{% static 'css/xhocolatte.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->


  <!-- Heading -->
   


  
  <!-- Message -->
    


  <!-- Footer -->
    
    <footer class="footer">
        <div class="contenedor">
          <h1>Hola buenas</h1>
        </div>  
    </footer>
  <!-- Bootstrap -->
    <!-- <script src="{% static 'XhocolatteApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'XhocolatteApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

</body>


</html>