<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'css/xhocolatte.css' %}" rel="stylesheet">

     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Styles -->
    <link href="{% static 'css/xhocolatte.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->
   <!-- Navbar -->
   <nav class="navbar">
    <div class="logo">Xhocolatte</div>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <div class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/">Sobre nosotros</a></li>
        <li class="services">
          <a href="/">Servicios</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/">Dropdown 1 </a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 2</a></li>
            <li><a href="/">Dropdown 3</a></li>
            <li><a href="/">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="/">Precios</a></li>
        <li><a href="/">Contacto</a></li>
      </div>
    </ul>
  </nav>
  <!-- Heading -->
   


  
  <!-- Message -->
    


  <!-- Footer -->
    <footer>

        <div class="contenedor-footer">

          <div class="contenedor-footer-contenido">
            <h3 class="website-logo">Xhocolatte</h3>
            <span class="footer-info">111-111-111</span>
            <span class="footer-info">xhocolatte@gmail.com</span>
          </div>

          <div class="footer-menus">

            <div class="contenedor-footer-contenido">
              <span class="titulo-menu">Menú</span>
              <a href="" class="menu-item-footer">Home</a>
              <a href="" class="menu-item-footer">Home</a>
              <a href="" class="menu-item-footer">Home</a>
              <a href="" class="menu-item-footer">Home</a>
            </div>

            <div class="contenedor-footer-contenido">
              <span class="titulo-menu">Legal</span>
              <a href="" class="menu-item-footer">Política de Privacidad</a>
              <a href="" class="menu-item-footer">Cookies</a>
              <a href="" class="menu-item-footer">Términos y Condiciones</a>
            </div>

          </div>

          <div class="contenedor-footer-contenido">
            <span class="titulo-menu">Follow Us</span>

            <div class="contenedor-social">
              <a href="" class="links-sociales"></a>
              <a href="" class="links-sociales"></a>
              <a href="" class="links-sociales"></a>
            </div>

          </div>

        </div>

        <div class="contenedor-copyright">
          <span class="copyright">&copy; 2022, Xhocolatte</span>
        </div>

    </footer>

</body>


</html>