{% extends "./base.html" %}

{% block title %} Productos {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 align-self-center">
            <h1 class="display-1">TIENDA</h1>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for producto in productos %}
                                <div class="col-6">
                                    <div class="card" style="height: 10rem; width: 23rem; margin: 10px 0px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ producto.descripcion }}</h5>
                                            <!-- <p class="card-img"><img src="{{ producto.imagen.url }}" alt="Imagen del Producto" style="height: 100%;"></p> -->
                                            <p class="card-text">{{ producto.existencias }}</p>
                                            <p class="card-text">{{ producto.precio }}€</p>

                                            <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                {% include "./carrito.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}